<a href="https://colab.research.google.com/github/saidara/python_data_structures/blob/main/pythondatastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures in python
#### A Data structure is a collection of Data elements that is structured in someway.

# 1. Lists
#### --> List is one of the sequence data structure
#### --> List is a collenction of ietms such as strings,integer, even other lists.
#### --> Lists are enclosed in [] and each ietm is seperated by comma 
#### --> Lists are mutable

In [ ]:
#List creation
emptylist =[]

In [ ]:
list1 = ['one','two','three'] # string 
list2 = [1,2,3,4] # integer
list3 = [[1,2],[3,4]] # List of lists
list4 = [1,'india',24,1.24] #list of different datatypes

In [ ]:
#List length 
print(len(list1))

3

In [ ]:
# List insert & remove
list1.insert(2,'four')  # it will add an element Y at location X
list1.remove('four')  # it will remove the first occurance of an item from list
print(list1)

['one', 'two', 'four', 'three']

In [ ]:
# list append and extend 
list1.append(list2) # it will append list2 at last index of list1
list1.extend(list2) # it will add items of list2 from last last index of list1
print(list1)

['one', 'two', 'four', 'three', [1, 2, 3, 4], 1, 2, 3, 4]

In [ ]:
# List delete -- syntax: del listname[index]
del list1[2]
print(list1)
a = list1.pop(3) # it will get ietms from list 
print(a)
print(list1)

['one', 'two', 1, 2, 3, 4]
2
['one', 'two', 1, 3, 4]

In [ ]:
# List reverse & sortng
list1=[4,1,9,2,0]
sorted_list1=sorted(list1)
print(sorted_list1)
reverse_sorted_list1 = sorted(list1,reverse=True)
print(reverse_sorted_list1)
print(list1) # original list unchanged

[0, 1, 2, 4, 9]
[9, 4, 2, 1, 0]
[4, 1, 9, 2, 0]

In [ ]:
list1.sort()  # here original list also gets modified
print(list1)

[0, 1, 2, 4, 9]

In [ ]:
# splitting string to create list
str="one,two,three,four,five"
str_list = str.split(',')
print(str_list)

['one', 'two', 'three', 'four', 'five']

In [ ]:
# slicing
lst = [10,20,30,40,50,60]
print(lst[:])

[10, 20, 30, 40, 50, 60]

In [ ]:
print(lst[0:4])

[10, 20, 30, 40]

In [ ]:
print(lst[::2])  #alternate items from list

[10, 30, 50]

In [ ]:
print(lst[2::2]) #print alternate elements from start index

[30, 50]

In [ ]:
# List extend using "+"
lst1 = [1,2,3,4]
lst2 = ['hyderabad','bangolore','chennai','delhi']
new_lst = lst1+lst2
print(new_lst)

[1, 2, 3, 4, 'hyderabad', 'bangolore', 'chennai', 'delhi']

In [ ]:
# list iem count
num = [1,2,3,4,3,2,9,2,4,2,6]
print(num.count(2))

4

In [ ]:
# list looping
lst = [1,2,4,'india']
for i in lst:
    print(i)

1
2
4
india

In [ ]:
# without list comprehension
sq_list =[]
for i in range(10):
    sq_list.append(i**2)
print(sq_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# with list comprehension
sq_list = [i**2 for i in range(5)]
print(sq_list)

[0, 1, 4, 9, 16]

In [ ]:
# examples of list coimprehension
lst = [-10,-20,0,10,20]
new_lst = [i*2 for i in lst]
print(new_lst)

[-20, -40, 0, 20, 40]

In [ ]:
new_lst = [i for i in lst if i>=0]
print(new_lst)

[0, 10, 20]

In [ ]:
new_lst = [(i,i**2) for i in range(5)]
print(new_lst)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [ ]:
# transpose of a matrix without list comprehension

matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
trans = []
for i in range(4):
    lst =[]
    for row in matrix:
        lst.append(row[i])
    trans.append(lst)    
print(trans)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
# transpose with list comprehension
trans = [[row[i] for row in matrix] for i in range(4)]
print(trans)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# 2. Tuples
####  Tuple is similar to list expect tuples are imutable i.e we can't change 
####     elements of tuple once it is assigned.

In [ ]:
#empty tuple
tup=()

In [ ]:
tup=(1,2,3,4,5) #integer 
print(tup)

(1, 2, 3, 4, 5)

In [ ]:
tup=(12,'india',52,'abcd') #mixed datatypes 
print(tup)

(12, 'india', 52, 'abcd')

In [ ]:
tup=(1,(2,3,4),[12,'india',52,'abcd'])
print(tup)

(1, (2, 3, 4), [12, 'india', 52, 'abcd'])

In [ ]:
tup=('india') 
type(tup) # only parenenthesis is not enough for one element

str

In [ ]:
tup=('india',) # need camma for single element
type(tup)

tuple

In [ ]:
tup='india',  # parenethesis is optional for single element
print(type(tup))
print(tup)

<class 'tuple'>
('india',)

In [ ]:
# Accessing elements in tuple
tup = ('hyderabad','bangolore','chennai','delhi')
print(tup[1])

bangolore

In [ ]:
print(tup[-1])

delhi

In [ ]:
# nested tuple
tup = ('india',('hyderabad','bangolore','chennai','delhi'))
print(tup[1])

('hyderabad', 'bangolore', 'chennai', 'delhi')

In [ ]:
print(tup[1][0])

hyderabad

In [ ]:
# slicing
tup = (1,2,3,4,5,6)
print(tup[1:4])

(2, 3, 4)

In [ ]:
print(tup[:-2])

(1, 2, 3, 4)

In [ ]:
print(tup[:])

(1, 2, 3, 4, 5, 6)

In [ ]:
#changing a tuple
tup = (0,2,3,4,[5,6,7,8])
tup[2] = 'X' # we get type error bcaz tuples are imutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[4][1] = 'india'
print(tup)

(0, 2, 3, 4, [5, 'india', 7, 8])

In [ ]:
# concatinanting tuple
tup = (1,2,3) + (4,5,6)
print(tup)

(1, 2, 3, 4, 5, 6)

In [ ]:
# repeate the elements of tuple for given no.of times
tup = (('india',)*5)
print(tup)

('india', 'india', 'india', 'india', 'india')

In [ ]:
# Tuple deletion
# Note: we cannot able to delete or remove elements in tuple ...bcaz tuples are imutable
tup.remove('india')

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
# tuple count 
tup = (1,2,3,4,2,3,4,6,2,2,1,2)
tup.count(2)

5

In [ ]:
# tuple index
print(tup.index(4))  # returns index of first occurance

3

In [ ]:
# tuple membership
print(3 in tup)
print(5 in tup)

True
False

In [ ]:
tup =()
print(dir(tup))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
# Built-in functions

tup = (1,4,8,2,3,9,5)
print(len(tup))

7

In [ ]:
new_tup = sorted(tup) # it creates new list as tuples are imutable we can't use sort()
print(new_tup)

[1, 2, 3, 4, 5, 8, 9]

In [ ]:
print(max(tup))

9

In [ ]:
print(min(tup))

1

In [ ]:
print(sum(tup))

32

# 3. Sets
####  A set is an unordered collection of items and each item is unique.
#### Sets are mutable..however, since they are unordered, indexing has no meaning.
#### We cannot access or change an element of a set using indexing or slicing.
#### Sets are used to perform mathematical set operations like union, intersection,symmetric difference etc..

In [ ]:
# set creation
s = {1,2,3,4}
print(s)

{1, 2, 3, 4}

In [ ]:
s = {1,2,3}
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
s = {1,2,3,4,1,2} # as set elements are unique...i.e didn't have duplicates
print(s)

{1, 2, 3, 4}

In [ ]:
# we can make set from a list
s = set([1,2,3,1,4])
print(s)

{1, 2, 3, 4}

In [ ]:
s = set()
print(type(s))

<class 'set'>

In [ ]:
s = {1,2,5}
print(s[1]) # we can't able to access using index..bcaz sets are unodered.

TypeError: 'set' object is not subscriptable

In [ ]:
s.add(3)
print(s)

{1, 2, 3, 5}

In [ ]:
# adding multiple elements

s.update([4,6,2])
print(s)

{1, 2, 3, 4, 5, 6}

In [ ]:
s.update([8,9],{10,12,3})
print(s)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 12}

In [ ]:
# remove elements from a set
s = {1,2,3,5,4}
print(s)
s.discard(4)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [ ]:
s.remove(3)
print(s)

{1, 5}

In [ ]:
s.remove(7) # get key error bcaz 7 is not there in set

KeyError: 7

In [ ]:
s.discard(7) # doesn't raise error
print(s)

{1, 5}

In [ ]:
s = {1,2,3,2,4,5,6}
s.pop() # removes random element
print(s)

{2, 3, 4, 5, 6}

In [ ]:
s.clear() # removes all items
print(s)

set()

In [ ]:
# set operations
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print(s1|s2) # union

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
print(s1&s2) # intersection

{3, 4, 5}

In [ ]:
print(s1.intersection(s2))

{3, 4, 5}

In [ ]:
# set difference  set A - intersection of A and B.

print(s1-s2)

{1, 2}

In [ ]:
# symmetric difference : (A union B) -(A intersection B)
print(s1.symmetric_difference(s2))

# or
print(s1^s2)

{1, 2, 6, 7}
{1, 2, 6, 7}

In [ ]:
# find is subset
s = {"a","b","c","d","e"}
y = {"c","d"}
print(s.issubset(y))
print(y.issubset(s))

False
True

# Frozen sets
#### Frozen sets has the characteristics of sets, but we can't be chnaged once it is assigned
#### Frozen Sets are immutable
#### Sets being mutable and unhashable, they can't be used as dictionary keys on the otherhand, Frozen sets are hashable and can be used as keys to dictionary
#### this data type supports methods like
#### copy()
#### difference() , intersection()
#### isdisjoint(), issubset()
#### issuperset(), symmetric_difference(), union().
#### being immutable it doesn't have methods like add() or remove()

In [ ]:
s1 = frozenset([1,2,3,4])
s2 = frozenset([3,4,5,6])
s1.add(5) #attribute error

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
print(s1[1]) # error bcaz sets doesn't supports indexing.

TypeError: 'frozenset' object is not subscriptable

# 4. Dictionary
#### Python dictinary is an unordered collection of items as key value pairs

In [ ]:
# dictionary creation 
my_dict = {}

In [ ]:
my_dict = {1:'abc',
          2:'xyz'}
print(my_dict)

{1: 'abc', 2: 'xyz'}

In [ ]:
my_dict = {'name':'saida',
          1:['abc','xyz']}
print(my_dict)

{'name': 'saida', 1: ['abc', 'xyz']}

In [ ]:
# creating dictionary from list and tuple etc
my_dict = dict()
my_dict = dict([(1,'abc'),(2,'xyz')])
print(my_dict)

{1: 'abc', 2: 'xyz'}

In [ ]:
# accessing dictinary elements
my_dict ={'name':'saida',
         'age':27,
         'address':'guntur'}
print(my_dict['name'])

saida

In [ ]:
print(my_dict['degree']) # error bcaz we didn't have degree key

KeyError: 'degree'

In [ ]:
print(my_dict.get('address'))

guntur

In [ ]:
print(my_dict.get('degree'))

None

In [ ]:
# add or modify
my_dict['name']='Rao'
print(my_dict)

{'name': 'Rao', 'age': 27, 'address': 'guntur'}

In [ ]:
my_dict['degree'] = 'B.tech'
print(my_dict)

{'name': 'Rao', 'age': 27, 'address': 'guntur', 'degree': 'B.tech'}

In [ ]:
# delete or remove
my_dict.pop('age')
print(my_dict)

{'name': 'Rao', 'address': 'guntur', 'degree': 'B.tech'}

In [ ]:
my_dict.popitem()
print(my_dict)

{'name': 'Rao'}

In [ ]:
sq = {2:4, 3:9, 4:16}
del sq[2]
print(sq)

{3: 9, 4: 16}

In [ ]:
sq.clear()
print(sq)

{}

In [ ]:
sq = {2:4, 3:9, 4:16}
del sq     # it will delete entire sq dictionary
print(sq)

NameError: name 'sq' is not defined

In [ ]:
# Dictionary methods 
sq = {2:4,3:9,4:16,5:25}
my_dict = sq.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
subjects = {}.fromkeys(['math','english','hindi'])
print(subjects)

{'math': None, 'english': None, 'hindi': None}

In [ ]:
s = {2:4,3:9,4:16,5:25}
print(s.items())

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [ ]:
print(s.keys())

dict_keys([2, 3, 4, 5])

In [ ]:
print(s.values())

dict_values([4, 9, 16, 25])

In [ ]:
d = {}   
print(dir(d))  # gets all methods of dictionary

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
# dictinary comprehension
d = {'a':1,'b':2,'c':3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [ ]:
d = {'a':1,'b':2,'c':3,'d':4}
new_dict = {k:v for k,v in d.items() if v>2}
print(new_dict)

{'c': 3, 'd': 4}

In [ ]:
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
d = {k+'c':v*2 for k,v in d.items() if v>2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

# 5. Strings
#### In python, A string is a sequence of characters

In [ ]:
# examples
mystring = 'hello'
print(mystring)

hello

In [ ]:
mystring = "hello"
print(mystring)

hello

In [ ]:
mystring = "'hello'"
print(mystring)

'hello'

In [ ]:
mystring = 'hello'
print(mystring[0])
print(mystring[-1])
print(mystring[2:5])

h
o
llo

In [ ]:
print(mystring[15]) # index out of range error

IndexError: ignored

In [ ]:
print(mystring[1.5])  #type error

In [ ]:
# change or delete
mystring = "hello"
mystring[4]='s' # type error , as we cam't do item assignment

In [ ]:
del mystring # deleted 
print(mystring)

In [ ]:
# string operations
# string concatination
s1="hello"
s2="saida"
print(s1+s2)

hellosaida

In [ ]:
print(s1*3)

hellohellohello

In [ ]:
# iteration through string
count = 0
for i in "hello world":
    if i=='o':
        count+=1
print(count,'letters found')

2 letters found

In [ ]:
# membership
print('l' in "Hello world")

In [ ]:
print('or' in "Hello world")

In [ ]:
s = "Hello"
print(s.lower())

In [ ]:
print(s.upper())

In [ ]:
mystring = "This will split all words in a list"
print(mystring.split( ))

In [ ]:
s1='_'.join(mystring.split( ))
print(s1)

In [ ]:
"Good Morning".find('Mo')

In [ ]:
"Bad Morning".replace("Bad","Good")

In [ ]:
s1="Bad Morning"
s2=s1.replace("Bad","Good")
print(s1)
print(s2)

In [ ]:
# plaindrome
mystr = "MadaM"
mystr = mystr.lower()
revstr = reversed(mystr)
if list(mystr) == list(revstr):
    print("Given string is palindrome")
else:
    print("Given string is not a plaindrome")

In [ ]:
# sort words in alphabetic order
mystr = "pyhton program to sort words in aplabetic order"
words = mystr.split()
words.sort()
for i in words:
    print(i)

In [ ]:
s=" "
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
"Asmjkasklfaspk".expandtabs()